<div>Send a JSON request to create a new document based on template and mappings</div>
<pre>POST {{state.apiBaseUrl}}/templates/{{state.templateName}}/mappings/{{state.mappingName}}/document</pre>
<div>
    <textarea [(ngModel)]="state.testPayload" placeholder="json payload" style="font-size: 11px; width: 100%;min-height: 100px;">
    </textarea>
</div>

<button [disabled]="uploading || !state.templateName || !state.mappingName" (click)="submit()">Create Word document</button>

<div style="color: red">{{submitError}}</div>
<div style="color: blue">{{submitResponse}}</div>
