<h2>Template {{template.name}}</h2>

<mat-grid-list cols="3" gutterSize="0" rowHeight="1.2em" style="max-width:600px">
    <mat-grid-tile class="mat-caption">Version</mat-grid-tile>
    <mat-grid-tile class="mat-caption">Date</mat-grid-tile>
    <mat-grid-tile class="mat-caption">Size</mat-grid-tile>

    <mat-grid-tile>{{template.version}}</mat-grid-tile>
    <mat-grid-tile>{{template.timestamp | date:'dd/MM/yyyy'}} {{template.timestamp | date:'HH:mm:ss'}}</mat-grid-tile>
    <mat-grid-tile>{{template.size}}</mat-grid-tile>
</mat-grid-list>

<mat-list>
    <mat-list-item *ngFor="let fld of template.fields">
        <mat-icon mat-list-icon>{{fld.isCollection ? 'list' : fld.parent ? 'more_horiz' : 'code'}}</mat-icon>
        <div mat-line>{{fld.name}} {{fld.content}}</div>
    </mat-list-item>
</mat-list>

