<p>Download an Excel workbook with the mappings definition for the template.</p>

<p>
    <mat-form-field appearance="fill" style="width:100%">
        <mat-label>Mappings name</mat-label>
        <input matInput placeholder="" [(ngModel)]="state.mappingName">
        <mat-hint>
            If the name exists the latest version for the selected template is downloaded,
            otherwise a new empty definition is prepared.
        </mat-hint>
    </mat-form-field>
</p>

<pre>GET {{state.apiBaseUrl}}/templates/{{state.templateName}}/mappings/{{state.mappingName}}/xls</pre>

<p>
    <button mat-stroked-button color="primary" 
        [disabled]="!state.templateName" 
        (click)="download()">
        Download Excel mappings
    </button>
</p>

<p>Use the <code>Test Mappings</code> button in the Excel worksheet to test your expressions</p>

<code>POST {{state.apiBaseUrl}}/evaluations/{{state.templateName}}</code>
