<h2>Create template</h2>

<p>Prepare and upload a Word template with content controls.</p>

<p>
    <mat-form-field appearance="fill" style="width:80%">
        <mat-label>Template name</mat-label>
        <input matInput placeholder="" [(ngModel)]="state.templateName">
        <mat-hint>If the name exists a new version is created, otherwise a new template is created.</mat-hint>
    </mat-form-field>
</p>

<pre>POST {{state.apiBaseUrl}}/templates/{{state.templateName}}</pre>

<input type="file" #file style="display: none" (change)="onFileAdd()" />
<p>
    <button mat-stroked-button color="primary" 
    [disabled]="uploading || !state.templateName" 
    (click)="addFile()">
    Select Word to upload
    </button>
</p>

<p class="mat-hint">HINT: You can download <a target="_blank" href="assets/example/simple-receipt-template.docx">a sample template</a> to view and upload.</p>