<mat-card>
    <h2>Evaluate expressions</h2>

    <mat-list role="list">

        <mat-list-item role="listitem" *ngFor="let x of expressions2; let i=index;">
            <mat-form-field floatLabel="never">
                <input matInput placeholder="expression" [(ngModel)]="expressions[i]">
            </mat-form-field>
            <div [hidden]="results[i].error">
                =<strong>{{viewValues ? results[i].value : results[i].text}}</strong>
            </div>
            <div style="color: red;" [hidden]="!results[i].error">
                ={{results[i].error}}
            </div>
        </mat-list-item>
    </mat-list>

    <div style="width:50%">
        <button mat-raised-button color="primary" (click)="evaluate()">Evaluate expressions</button>
        <span>&nbsp;&nbsp;</span>
        <mat-slide-toggle color="primary" [(ngModel)]="viewValues">
            view values
        </mat-slide-toggle>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Payload</mat-label>
        <textarea matInput [(ngModel)]="payload" rows="8"></textarea>
    </mat-form-field>



</mat-card>