<h3>Template versions</h3>

<div class="tbl">
    <div class="row">
        <div class="cell2">name</div>
        <div class="cell4">version</div>
        <div class="cell4">date</div>
        <div class="cell2">size</div>
    </div>

    <div class="row" *ngFor="let item of vm.versions">
        <div class="cell2"><a href="#" [routerLink]="['..']">{{ item.name }}</a></div>
        <div class="cell4"><a href="#" [routerLink]="['./', item.version]">{{ item.version }}</a></div>
        <div class="cell4">{{ item.timestamp | date:'dd/MM/yyyy' }} {{ item.timestamp | date:'HH:mm:ss' }}</div>
        <div class="cell2">{{ item.size }}</div>
    </div>
</div>