<div>Prepare and upload a Word template with content controls:</div>

<div>
    <label>Template:
        <input [(ngModel)]="template.name" placeholder="name" (change)="nameChanged()"/>
    </label>
    <button [disabled]="uploading" (click)="addFile()">Select Word</button>
</div>
<div>Selected file name: {{fileName}}</div>
<div>POST to: <span [hidden]="!fileName">{{uploadUrl}}</span></div>
<div style="color: red">{{errorMessage}}</div>

<input type="file" #file style="display: none" (change)="onFileAdd()" />