<mat-card>
    <h2>Getting started with Document Creator</h2>
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step label="Step 1">
            <app-step1></app-step1>
        </mat-step>
        <mat-step label="Step 2">
            <app-step2></app-step2>
        </mat-step>
        <mat-step label="Step 3">
            <app-step3></app-step3>
        </mat-step>
        <mat-step label="Step 4">
            <app-step4></app-step4>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>