<div>Ask DocumentCreator to download an Excel workbook for mappings definition:</div>

<div><pre>GET {{state.apiBaseUrl}}/templates/{{state.templateName}}/mappings/{{state.mappingName}}</pre></div>

<div>
    <button [disabled]="!state.templateName" 
        (click)="download()"
        >Download Excel mappings</button>
</div>

<p>Use the <code>Test Mappings</code> button in the Excel worksheet to test your expressions</p>
<div><code>POST {{state.apiBaseUrl}}/templates/{{state.templateName}}/mappings/{{state.mappingName}}/test</code></div>

